.d-flex {
  display: flex; /* or inline-flex */
}
.flexx-justify-center
{
  display: flex;
  justify-content: center;
}
.text-over-image
{
  background-image: url(image/hakkimda.png);
  background-size: 100%;
  
}
.border
{
  border-width: 10px;
  border-color: lightgrey;
border-radius: 5px;
}
.ortala
{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.margin-5
{
  margin-left: 5;
  margin-top: 5;
  margin-bottom: 5;
  margin-right: 5;
}
#kutu
{
  
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    
}







/* 

            FLEX ORNEK

<div class="main container">
            <div class="row d-flex flex-column ">
              <div class="d-flex">
                <img src="image/hakkimda.png" alt="">
              </div>
              <div class="d-flex col-sm-6">
                  Merhaba, ben Taha Yasir. Lakabım "Samurai".
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">

              </div>
              <div class="col-sm-4">
            
              </div>
            </div>
          </div>     */